{% extends 'base.twig' %}

{% block title %}Flash message{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Flash message</h3>
            <a href="{{ path_for('home') }}">Home</a>
        </div>
    </div>
{% endblock %}